@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --color-one:#222831;
    --color-two:#393E46;
    --color-three:#FFD369;
    --color-four:#EEEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--color-four);
    background-color: var(--color-two);
    width: 100vw !important;
    overflow-x: hidden !important;
}

header{
    padding: 2em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;    
    background-color: var(--color-one);
    overflow-x: hidden !important;
}

.menu{
    width: 40%;
    overflow-x: hidden !important;
}

.hamburguer{
    display: none;
    cursor: pointer;
    
}
.hamburguer div{
    width: 32px;
    height: 2px;
    background:var(--color-three);
    margin: 8px;
    transition: 0.3s;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: var(--color-three);
}

a:hover{
    transition: 250ms ease-in-out;
    color: var(--color-four);
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;   
    background-image: url(imgs/1.png);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;    
}

.h1{
    margin: 2em ;
    font-size: 1.4em;
}

.btns{
    width: 15em;
    height: 4em;
    margin: 1em;
}

.btns button{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    background-color: var(--color-three);
    box-shadow: none;
    cursor: pointer;
    color: var(--color-one);
    font-size: 1.5em;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    
}

.btns button:hover{
    transition: 500ms ease-in-out;
    background-color: var(--color-four);
}

.btns-read-more{
    width: 7em;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: var(--color-three);
    box-shadow: none;
    cursor: pointer;
    color: var(--color-one);
    font-size: 1.5em;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.btns-read-more:hover{
    transition: 500ms ease-in-out;
    background-color: var(--color-four);
}


.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5em;
}

.brief{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 70%;
    
}

.levels{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.p-levels{
    max-width: 150px;
}

.h3{
    margin-top: 2em;
}
h2{
    margin-top: 2em;
}

p{
    margin-top: 2em;
    margin-bottom: 1em;
}

.section-two{
    padding: 2em 5em;
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    
}



.section-three{
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.section-three-form{
    display: flex;
    flex-direction: column;   
    width: 80%;
    text-align: left;
}

.section-three-form label{
    margin-top: 1em;
}

.section-three-form input{
    margin-top: 1em;
    height: 3em;
    outline: none;
    border-radius: 1em;
    padding: 1em;
}

.section-three-form textarea {
    resize: none;
    outline: none;
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
}

.submit-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-top: 1em;
}

.agree{
    display: flex;
    align-items: center;    
}

.agree input{
    margin-right: 1em;
}
.btns-submit{
    width: 7em;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: var(--color-three);
    box-shadow: none;
    cursor: pointer;
    color: var(--color-one);
    font-size: 1.5em;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.btns-submit:hover{
    transition: 500ms ease-in-out;
    background-color: var(--color-four);
}

.section-four{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 0 5em;
    background-color: var(--color-one);
    height: 20em;
}

.section-four h2{
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--color-four);
}

footer{
    padding: 2em 5em;
    background-color: var(--color-two);
    color: var(--color-three);
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-footer{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-top: 3em;
    margin-bottom: 2em;
}

.h3-footer{
    font-size: 0.7em;
    margin-top: 2em;
}

.h3 h3{
    margin-top: 1em;
}

.h3 h4{
    font-style: italic;
    font-size: 1em;
    margin-top: 0.7em;
}



@media(max-width:1280px){
    .section-two{
        justify-content: space-between;
    }
}

@media(min-width:1281px){
    .brief{
        display: flex;
        flex-direction: row;
    }
    .brief p{
        margin:2em 3em;
        overflow-x: hidden !important;
    }

    

    .section-three-form{
        max-width: 50%;
    }

    body{
        overflow-x: hidden !important;
    }
}

@media(max-width:1090px){

    header{
        width: 100vw;
        overflow-x: hidden !important;/* elimina a possibilidade de scrow*/
       
    }

    .section-four h2{
        font-size: 2.3em;

    }

    .icons-footer{
        width: 80%;
    }

    .btns-submit{
        width: 5em;
        
    }

    .agree{
        font-size: 0.9em;
    }

    .hamburguer{
        display: block;
        
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .menu ul{
        display: flex;
        justify-content: space-evenly;
        
    }

    .menu-mobile{
        position: absolute;
        margin-top: 1em;
        top: 8vh;
        right: 0;
        width: 40vw !important;
        height: 70vh;
        background: var(--color-one);
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 3em;
        opacity: 0; /* aqui ele joga tudo pro lado direito*/
        transition: transform 0.3s ease-in;
        overflow-x: hidden !important;
    }

    .menu-mobile.active{
        opacity: 1;
        overflow-x: hidden !important;
    }

@media(max-width:1024px){
        .menu-mobile{
            margin-top: -2em;
        }

@media(max-width:1025px){
    .menu-mobile{
        margin-top: 0em;
    }


}    
@media(max-width:940px){
    .section-two{
        flex-direction: column;
    }

    .menu-mobile{
        overflow-x: hidden !important;
    }

    
    

    
}
@media(max-width:870px){
    .section-four h2{
        font-size: 1.8em;
    }

    .submit-message{
        flex-direction: column;
        margin-top: 2em;
        align-items: center;
    }
    .menu-mobile{
        overflow-x: hidden !important;      
        
        
    
    }
    
}

@media(max-width:540px){
    .menu-mobile{
        margin-top: 2em;
    }
    
}
@media(max-width:412px){

    .menu-mobile{
        margin-top: 1em;
    }
    .h1 h1{        
        font-size: 1em;        
    }

    .banner .p{
        font-size: 0.8em;
        max-width: 80%;
    }

    .btns{
        font-size: 0.8em;
        width: 50%;
    }

    .brief{
        width: 100%;
    }

    .levels .h3{
        margin-top: 1em;
    }

    .section-three-form{
        width: 100%;
    }

    .submit-message{
        flex-direction: column;
        
        align-items: center;
    }

    .section-four h2{
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aliens-born{
        font-size: 0.8em;
    }
    .menu-mobile{
        overflow-x: hidden !important;
    }

    body{
        width: 100% ;
        overflow-x: hidden !important;
    }

    .p-levels{
        max-width: 90%;
    }

    .section-two{
        padding: 1em;
    }
    .btns-read-more{
        
        width: 100%;
    }
    footer{
        padding: 1em;
        padding-bottom: 2em;
    }
}

@media(max-width:280px){
    .section-two{
        padding:0;
        
    }

    header{
        padding: 1em;
    }

    .section-three{
        padding: 0;
        width: 90%;
        margin: auto;
    }

    .p-levels{
        max-width: 90%;
    }

    footer{
        padding: 0.5em;
        padding-bottom: 2em;
    }
}    